$primaryColor: #1d295f;
$secondaryColor: #800020;
$accentColor: #8b5e3c;
$lightGrey: #ddd;
$darkGrey: #333;

$defaultFont: "Raleway", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;
$leading: 160%;

$gutter: 15px;
